.partManager {
    button {
        display: block;
        background-color: rgb(200, 30, 0);
        font-weight: bold;
        color: black;
        border: none;
        border-radius: 5px;
        width: 50%;
        height: 30px;
        margin: 10px auto;
    }
}